rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Regla para la colección de proyectos
    match /proyectos/{proyectoId} {
      // CUALQUIERA puede LEER los proyectos (para tu portafolio público)
      allow read: if true;

      // SOLO los usuarios autenticados (tú) pueden CREAR, ACTUALIZAR o BORRAR.
      allow write: if request.auth != null;
    }

    // Regla de seguridad para el resto de la base de datos
    match /{document=**} {
      // Negar el acceso a cualquier otra colección que no hayamos definido.
      allow read, write: if false;
    }
  }
}